<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css-scss/normalize.css">
    <link rel="stylesheet" href="../css-scss/default.css">
    <link rel="stylesheet" href="../css-scss/about-us.css">
</head>
<body>
    <header class="main-header">
        <div class="header-items">
            <p>LifeShoft-<span>Code</span></p>
        </div>
    </header>
    <nav class="main-menu">
        <div class="main-menu_items">
            <div class="main-menu_item"><a href="../index.html">Inicio</a></div>
            <div class="main-menu_item"><a href="">Sobre Nosotros</a></div>
            <div class="main-menu_item"><a href="">Ayuda</a></div>
            <div class="main-menu_item"><a href="#" id="btn-open-form">Registrar</a></div>
        </div>
    </nav>
    <div class="about-us-container">
        <div class="about-us-text">
            <h1>Sección Sobre Nosotros</h1>
            <article class="article-about-us">
                <section>
                    <h2>¿Quienes somos?</h2>
                    <p>Nosotros somos una comunidad de programadores de todo los niveles, nuestro proposito en general es poder ayudar aquellos que estan empezando a programar y tambien ser una fuente de apoyo para  ayudar a resolver los errores de los que ya tengan ciertos conocmientos, pero que necesiten ayuda.</p>
                    <p>Nuetra especialidad es programacion web pero tenemos programadores que tienen concocimeinto tanto en el desarrolo de applicaciones para escritorio, como desarrollo de aplicaciones moviles</p>
    
                </section>
            </article>
        </div>
        
    </div>
    <footer>
        <div class="footer-items">
            <p>Lifeshoft-Code © 2021</p>
        </div>
    </footer>
</body>
</html>