*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.LSC-pageName{
    width: 97%;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2px auto 0px;
}
.main-menu{
    position: sticky;
    top: 5px;
    display: flex;
    width: 97%;
    margin: 8px auto;
    background-color: rgba(31, 31, 31, 0.815);
    backdrop-filter: blur(12px);
    border: 1px solid rgb(146, 146, 146);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    


}
.container-items{
    height: 37px;
    flex-grow: 1; 
    display: flex;
    align-items: center;
    justify-content: center; 
    
}
.container-items > a{
    font-family: Arial;
    color: #fff;
    text-decoration: none;
    
}
footer{
    margin: 30px auto 0 ;
    width: 97%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(102, 102, 102);
    padding: 10px;
    text-align: center;
    color: white;
    font-family: arial;

}