<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrandome</title>
    <link rel="shortcut icon" href="logo renovado VSIMPLIFICADA.png" type="/x-icon">
    <link rel="stylesheet" href="../css-scss/default.css">
    <link rel="stylesheet" href="../css-scss/registrate.css">
</head>
<body>
    <nav class="main-menu">
        <div class="container-items"><a href="./index.html">Inicio</a></div>
        <div class="container-items"><a href="">Cursos</a></div>
        <div class="container-items"><a href="">Ayuda</a></div>
        <div class="container-items"><a href="">Contactanos</a></div>
        <div class="container-items"><a href="./Registrate.html">Regístrate</a></div>
    </nav>
    <div class="card">
        <div class="form-img">
            <img src="../assets/img/logoLSC(Renovado).png" alt="">
        </div>
        <div class="form">
            <form action="" id="form">
                <label for="">Nombre</label>
                <br>
                <input id="UserName"type="text">
                <br>
                <label for="">Apellido</label>
                <br>
                <input id="UserLastName" type="text">
                <br>
                <label  for="">Años de nacimiento</label>
                <br>
                <input id="yearsBirth" type="text">
                <br>
                <button class="btn" id="btn-submit">Enviar</button>
            </form>
        </div>
    </div>
</body>
</html>